body {
    background: #c8e6e8;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.heading {
    display: block;
    text-align: start;
}

input {
    display: none;
}

.accordion__item {
    color: white;
    overflow: hidden;
}

.accordion__label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
}

.accordion__label:hover {
    background: #1d5283;
}

.accordion__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.8s;
}

.accordion__image {
    max-height: 0;
    color: #2c3e50;
    background: white;
    transition: all 0.8s;
}

input:checked + .accordion__label::after,
input:hover + .accordion__label::after {
    transform: rotate(90deg);
}

input:checked ~ label > .accordion__image,
input:hover ~ label > .accordion__image {
    max-inline-size: 100%;
    max-height: 100vh;
    block-size: auto;
    padding: 1em;
}